[submodule "angular-web-elements"]
	path = angular-web-elements
	url = https://github.com/tbertonatti/angular-web-elements.git
[submodule "mini-nodejs-express-api"]
	path = mini-nodejs-express-api
	url = https://github.com/tbertonatti/mini-nodejs-express-api.git
